.table {
    border-spacing: 0;
}

.table thead th {
    text-align: left;
    padding: 3px;
    color: #fbfafa;
    border-bottom: 2px solid #666;
}

.table tbody td {
    padding: 3px;
    border-bottom: 1px solid #666;
}

.table tbody tr:hover {
    background: #666;
    -webkit-transition: all 1s ease;
}

