.weather .btn {
    width: 15px;
    cursor: pointer;
    background: url(../img/arrows.png) no-repeat;
}

.btn.prev {
    background-position: 1px 35px;
}

.btn.next {
    background-position: -18px 35px;
}

.weather .btn:hover {
    background-color: #757575;
}

.weather .currentConditions {
    position: relative;
    height: 100px;
}

.weather .currentConditions .icon {
    position: absolute;
    left: 0;
    top: 0;
}

.weather .currentConditions ul {
    position: absolute;
    left: 120px;
    top: 0;
}

.weather .currentConditions li {
    display: inline-block;
    width: 70px;
    vertical-align: top;
}

.weather .currentConditions li.otherDetails {
    text-align: right;
}

.weather .heading {
    color: #aaa;
    text-transform: uppercase;
    font-size: 10px;
}

.weather .reading {
    margin-bottom: 10px;
}

.weather .currentConditions .temperature {
    font-size: 23px;
    margin-top: 5px;
}

.weather .laterConditions {
    box-shadow: 0px 2px 5px black inset;
    clear: both;
}

.weather .laterConditions li {
    text-align: center;
    display: inline-block;
    height: 90px;
}

.weather .laterConditions li.current {
    background-color: #373737;
}

.weather .attribution {
    text-align: right;
}

