.hselector {
    width: 100%;
    position: relative;
    height: 20px;
    margin: 5px 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.hselector .value {
    position: absolute;
    left: 20px;
    right: 20px;
    line-height: 20px;
    text-align: center;
    top: 0;
}

.hselector .arrow {
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    top: 0;
    color: #999;
    font-size: 20px;
}

.hselector .arrow.enabled {
    cursor: pointer;
    color: white;
}

.hselector .arrow.enabled:hover {
    background: #fbfafa;
    color: #323232;
}

.hselector .arrow.left {
    left: 0;
}

.hselector .arrow.right {
    right: 0;
}

