.daily table.weather {
    width: 100%;
}

.daily table.weather small {
    display: block;
    opacity: 0.5;
}

.weather .navigator {
    position: relative;
    height: 170px;
}

.weather .navigator .btn {
    height: 80px;
    position: absolute;
    width: 15px;
    top: 0;
    cursor: pointer;
    background: url(../img/arrows.png) no-repeat;
}

.weather .navigator .btn.prev {
    left: -5px;
    background-position: 1px 35px;
}

.weather .navigator .btn.next {
    right: -5px;
    background-position: -18px 35px;
}

.weather .btn:hover {
    background-color: #757575;
}

.weather .currentConditions {
    position: relative;
    height: 100px;
}

.weather .currentConditions .icon {
    position: absolute;
    left: 0;
    top: 0;
}

.weather .currentConditions ul {
    position: absolute;
    left: 75px;
    top: 0;
    padding: 0;
    margin: 0;
}

.weather .currentConditions li {
    display: inline-block;
    width: 70px;
    vertical-align: top;
}

.weather .currentConditions li.otherDetails {
    text-align: right;
}

.weather .heading {
    color: #aaa;
    text-transform: uppercase;
    font-size: 10px;
}

.weather .reading {
    margin-bottom: 10px;
}

.weather .currentConditions .temperature {
    font-size: 23px;
    margin-top: 5px;
}

.weather .laterConditions {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 15px;
    right: 15px;
}


.weather .laterConditions li {
    text-align: center;
    display: inline-block;
    padding-top: 10px;
}

.weather.horizontal .laterConditions li {
    width: 25%;
    position: relative;
    height: 150px;
}

.weather.horizontal .laterConditions .fc {
    position: absolute;
    margin-top: 40px;
    z-index: 1;
    width: 100%;
}

.weather.horizontal .laterConditions li {
    width: 36px;
}

.weather.horizontal .laterConditions {
    height: 180px;
    overflow: hidden;
}

.weather.horizontal canvas {
    position: absolute;
    top: 110px;
    left: 15px;
}

.weather .laterConditions li.current {
    background-color: #444;
    box-shadow: 3px 3px 5px black;
}

.weather .laterConditions li.startOfDay:after {
    content: ' ';
    display: block;
    height: 118px;
    border-left: 1px solid #555;
    left: 17px;
    position: absolute;
}

.weather.horizontal .laterConditions .precipitation {
    position: absolute;
    bottom: 0;
    width: 33px;
    background: url("/static/img/weather/precipitation.png");
}

.weather .attribution {
    text-align: right;
}

.weather .icon {
    width: 30px;
    height: 25px;
    display: inline-block;
    background-size: 100%;
}

.weather .icon.notAvailable {background-image: none;}
.weather .icon.clearNight {background-image: url(/static/img/weather/icons_60x50/01n.png);}
.weather .icon.clearDay {background-image: url(/static/img/weather/icons_60x50/01d.png);}
.weather .icon.fogMist {background-image: url(/static/img/weather/icons_60x50/15.png);}
.weather .icon.cloudy {background-image: url(/static/img/weather/icons_60x50/04.png);}
.weather .icon.lightRainShowerNight {background-image: url(/static/img/weather/icons_60x50/05n.png);}
.weather .icon.lightRainShowerDay {background-image: url(/static/img/weather/icons_60x50/05d.png);}
.weather .icon.lightRain {background-image: url(/static/img/weather/icons_60x50/09.png);}
.weather .icon.heavyRain {background-image: url(/static/img/weather/icons_60x50/10.png);}
.weather .icon.sleet {background-image: url(/static/img/weather/icons_60x50/12.png);}
.weather .icon.lightSnowNight {background-image: url(/static/img/weather/icons_60x50/08n.png);}
.weather .icon.lightSnowDay {background-image: url(/static/img/weather/icons_60x50/08d.png);}
.weather .icon.heavySnow {background-image: url(/static/img/weather/icons_60x50/13.png);}
.weather .icon.heavySnow {background-image: url(/static/img/weather/icons_60x50/13.png);}
.weather .icon.thunderStorm {background-image: url(/static/img/weather/icons_60x50/11.png);}

.weather .wind {
    width: 32px;
    height: 32px;
    color: #fbfafa;
    font-size: 9px;

    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-weight: bold;
    position: relative;

}

.weather .wind:after {
    content: " ";
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16px;
    top: 16px;
    margin-left: -16px;
    margin-top: -16px;
    background: url(/static/img/wind-direction.png);
    background-size: 32px 32px;
}

.weather .wind.NNE:after {
    -webkit-transform:rotate(22.5deg);
}

.weather .wind.NE:after {
    -webkit-transform:rotate(45deg);
}

.weather .wind.ENE:after {
    -webkit-transform:rotate(67.5deg);
}

.weather .wind.E:after {
    -webkit-transform:rotate(90deg);
}

.weather .wind.ESE:after {
    -webkit-transform:rotate(102.5deg);
}

.weather .wind.SE:after {
    -webkit-transform:rotate(135deg);
}

.weather .wind.SSE:after {
    -webkit-transform:rotate(157.5deg);
}

.weather .wind.S:after {
    -webkit-transform:rotate(180deg);
}

.weather .wind.SSW:after {
    -webkit-transform:rotate(202.5deg);
}

.weather .wind.SW:after {
    -webkit-transform:rotate(225deg);
}

.weather .wind.WSW:after {
    -webkit-transform:rotate(247.5deg);
}

.weather .wind.W:after {
    -webkit-transform:rotate(270deg);
}

.weather .wind.WNW:after {
    -webkit-transform:rotate(292.5deg);
}

.weather .wind.NW:after {
    -webkit-transform:rotate(315deg);
}

.weather .wind.NNW:after {
    -webkit-transform:rotate(337.5deg);
}
