.departures tbody .time {
    text-align: right;
}

.departures tbody .inTime {
    color: #bbb;
}

.departures tbody .service {
    color: yellow;
    font-family: monospace;
    text-align: center;
}

.departures tbody .iminent .inTime  {
    color: red;
}