/* Community Tools 1.0 */

.weather .navigator {
    position: relative;
    height: 170px;
}

.weather.vertical .navigator {
    height: 75px;
}

.weather .navigator .btn {
    height: 80px;
    position: absolute;
    width: 15px;
    top: 0;
    cursor: pointer;
    background: url(../img/arrows.png) no-repeat;
}

.weather .navigator .btn.prev {
    left: -5px;
    background-position: 1px 35px;
}

.weather .navigator .btn.next {
    right: -5px;
    background-position: -18px 35px;
}

.weather .btn:hover {
    background-color: #757575;
}

.weather .currentConditions {
    position: relative;
    height: 100px;
}

.weather .currentConditions .icon {
    position: absolute;
    left: 0;
    top: 0;
}

.weather .currentConditions ul {
    position: absolute;
    left: 75px;
    top: 0;
    padding: 0;
    margin: 0;
}

.weather .currentConditions li {
    display: inline-block;
    width: 70px;
    vertical-align: top;
}

.weather .currentConditions li.otherDetails {
    text-align: right;
}

.weather .heading {
    color: #aaa;
    text-transform: uppercase;
    font-size: 10px;
}

.weather .reading {
    margin-bottom: 10px;
}

.weather .currentConditions .temperature {
    font-size: 23px;
    margin-top: 5px;
}

.weather .laterConditions {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 15px;
    right: 15px;
}

.weather.vertical .laterConditions {
    box-shadow: 0px 2px 5px black inset;
    background-color: #252525;
    clear: both;
}

.weather .laterConditions li {
    text-align: center;
    display: inline-block;
    padding-top: 10px;
}

.weather .vertical .laterConditions li {
    height: 100px;
}

.weather.horizontal .laterConditions li {
    width: 25%;
    position: relative;
    height: 150px;
}

.weather.horizontal .laterConditions .fc {
    position: absolute;
    margin-top: 40px;
    z-index: 1;
    width: 100%;
}

.weather.vertical .laterConditions li {
    width: 25%;
}

.weather.horizontal .laterConditions li {
    width: 36px;
}

.weather.horizontal .laterConditions {
    height: 180px;
    overflow: hidden;
}

.weather.horizontal canvas {
    position: absolute;
    top: 110px;
    left: 15px;
}

.weather .laterConditions li.current {
    background-color: #444;
    box-shadow: 3px 3px 5px black;
}

.weather .laterConditions li.startOfDay:after {
    content: ' ';
    display: block;
    height: 118px;
    border-left: 1px solid #555;
    left: 17px;
    position: absolute;
}

.weather.horizontal .laterConditions .precipitation {
    position: absolute;
    bottom: 0;
    width: 33px;
    background: url("/static/img/weather/precipitation.png");
}

.weather .attribution {
    text-align: right;
}

.weather .icon {
    width: 30px;
    height: 25px;
    display: inline-block;
    background-size: 100%;
}

.weather .icon.notAvailable {background-image: none;}
.weather .icon.clearNight {background-image: url(/static/img/weather/icons_60x50/01n.png);}
.weather .icon.clearDay {background-image: url(/static/img/weather/icons_60x50/01d.png);}
.weather .icon.fogMist {background-image: url(/static/img/weather/icons_60x50/15.png);}
.weather .icon.cloudy {background-image: url(/static/img/weather/icons_60x50/04.png);}
.weather .icon.lightRainShowerNight {background-image: url(/static/img/weather/icons_60x50/05n.png);}
.weather .icon.lightRainShowerDay {background-image: url(/static/img/weather/icons_60x50/05d.png);}
.weather .icon.lightRain {background-image: url(/static/img/weather/icons_60x50/09.png);}
.weather .icon.heavyRain {background-image: url(/static/img/weather/icons_60x50/10.png);}
.weather .icon.sleet {background-image: url(/static/img/weather/icons_60x50/12.png);}
.weather .icon.lightSnowNight {background-image: url(/static/img/weather/icons_60x50/08n.png);}
.weather .icon.lightSnowDay {background-image: url(/static/img/weather/icons_60x50/08d.png);}
.weather .icon.heavySnow {background-image: url(/static/img/weather/icons_60x50/13.png);}
.weather .icon.heavySnow {background-image: url(/static/img/weather/icons_60x50/13.png);}
.weather .icon.thunderStorm {background-image: url(/static/img/weather/icons_60x50/11.png);}
